#home {
  height: 100vh;
  min-width: 100vw;
  max-width: 100%;
  margin-top: 5rem;

  background-image: url("https://live.staticflickr.com/65535/50689160276_2b2e451036_h.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#home.rickHomeHovered {
  background-image: url("https://live.staticflickr.com/65535/50687261853_b21c2d63b9_h.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

#home.pokeHomeHovered {
  background-image: url("https://live.staticflickr.com/65535/50687261828_c89576cbe9_h.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

#home a {
  height: fit-content;
  width: fit-content;
}

.homeImage {
  width: 80vw;
  margin: 2rem;
}

@media screen and (min-width:600px) {

  .homeImage {
    width: 65vw;
  }

}

@media screen and (min-width:768px) {


  #home {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }


  .homeImage {
    width: 40vw;
  }
}

@media screen and (min-width:1400px) {

  #home {
    background-size: cover;

  }

  .homeImage {
    width: 30vw;
  }

}