.charList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.charCard {
  width: 40%;
  margin: 0.5rem;
  cursor: pointer;
}

.ant-card-cover img {
  height: 150px;
}

.ant-card,
.favoriteIcon {
  pointer-events: none;
}

.ant-card-body {
  padding: 1rem 0.1rem !important;
}

.ant-card-meta-title {
  font-size: 10px !important
}

.divTitle {
  width: 50%;
  margin: 0 auto;

}

.favTitle {
  color: #ffffff;
  border-radius: 1rem;
  background-color: #444239b7;
  margin: 1rem;
}

.favoriteIcon {
  margin: 0.3rem auto;
  background-color: #FFFFFF;
  width: 50%;
  height: 15%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.favoriteIcon img {
  width: 30%;
}

@media screen and (min-width:500px) {

  .divTitle {
    width: 40%;
  }

  .charCard {
    width: 30%;
    margin: 0.5rem 1rem;
  }
}

@media screen and (min-width:768px) {

  .charList {
    width: 80%;
    margin: 0 auto;
  }

  .divTitle {
    width: 30%;
  }

  .favoriteIcon {
    height: 15%;
    margin-bottom: 1rem;
  }

  .ant-card-meta-title {
    font-size: 0.8em !important
  }

  .charCard {
    width: 30%;
  }
}

@media screen and (min-width:1150px) {

  .charList {
    width: 65%;
    margin: 0 auto;
  }

  .charCard {
    width: 20%;
  }

  .ant-card-cover img {
    height: 200px;
  }

  .divTitle {
    width: 20%;
  }

  .ant-card-meta-title {
    font-size: 1em !important
  }
}

@media screen and (min-width:1400px) {

  .charList {
    width: 60%;
    margin: 0 auto;
  }
}