.navButtons {
  display: flex;
  margin: 0.5rem auto;
  align-items: center;
  justify-content: center;
}

.navButtons div {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: rgb(122, 122, 122);
  width: 3%;
  border-radius: 10px;
}