.App {
  text-align: center;
  width: 100vw;
  max-width: 100%;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white
}

.searchBar {
  margin: 1rem;
}

.searchBar>input {
  width: 40%;
  margin-right: 0.5rem;

}

.charContainer {
  width: 100%;
}

.charTitle {
  color: white !important;
}

.charList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.charCard {
  width: 40%;
  margin: 0.5rem;
}

.ant-card-body {
  padding: 1rem 0.1rem !important;
}

.ant-card-meta-title {
  font-size: 10px !important
}