.titleImage img {
  width: 50%;
}


@media screen and (min-width:1000px) {

  .titleImage img {
    width: 40%;
  }

}

@media screen and (min-width:1300px) {

  .titleImage img {
    width: 30%;
  }

}